@model E_Commerce.Models.Advert
@{
    ViewBag.Title = "Product - " + Model.AdvertName;
}
@*<head>
    <link href="~/Content/bootstrap.4.1.2.css" rel="stylesheet" />
    <link href="~/Content/product.css" rel="stylesheet" />
</head>*@
<div class="super_container" style="margin-top:30px">
    <!-- Product -->
    <div class="product">
        <div class="container">
            <div class="row">
                <!-- Product Image -->
                <div class="col-lg-6">
                    <img src="~/Content/Images/Products/@Model.ImageUrl"  style="width: 530px; height: 500px"  />
                </div>
                <!-- Product Info -->
                <div class="col-lg-6 product_col table-responsive" style="height:350px">
                    <div class="product_info">
                        <div class="product_name" style="color:black;font-size:30px">@Model.AdvertName</div>
                        <div class="product_price" style="margin-bottom:10px;font-size:30px">$@Model.Price</div>
                        <div class="product_text" style="margin-bottom:10px;font-size:30px;">
                            <div style="color:black;font-size:30px;;">@Html.Raw(HttpUtility.HtmlDecode(Model.Description.ToString()))</div>
                        </div>
                        <div class="product_buttons">
                            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                    @*<div><div><img src="~/Content/Images/cart.svg" class="svg" alt=""><div>+</div></div></div>*@
                                    <div style="color:black">Connct with Adverter</div>
                                </div>
                                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                    <div>
                                        <div>
                                            @*<a href="@Url.Action("AddToCart", "ShoppingCart", new { id = Model.AdvertId})">*@
                                                <img src="~/Content/Images/comment.png" class="svg" alt="">
                                            </a><div>+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>